<%- include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>
<div class="container">
  <hr />
  <h2>Artigos</h2>
  <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Category</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(articles => { %>
      <tr>
        <th><%= articles.id %></th>
        <th><%= articles.title %></th>
        <th><%= articles.slug %></th>
        <th><%= articles.category.title %></th>
        <th>
          <a
            href="/admin/articles/edit/<%= articles.id %> "
            class="btn btn-warning"
          >
            Editar
          </a>

          <form
            method="POST"
            action="/articles/delete"
            style="display: inline"
            onsubmit="confirmDelete(event, this)"
          >
            <input type="hidden" name="id" value="<%= articles.id  %> " />
            <button class="btn btn-danger">Deletar</button>
          </form>
        </th>
      </tr>
      <% });%>
    </tbody>
  </table>
</div>

<%-include('../../partials/footer.ejs') %>

<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    console.log("O formulário não foi enviado");
    let decison = confirm("Você quer deletar essa categoria");
    if (decison) {
      form.submit();
    }
  }
</script>
